<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testdemo.test.com.jenkens">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTask"
            android:name=".StartMain"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录-->
        <activity android:name=".LoginAty" android:launchMode="singleTask"/>
        <!-- 注册-->
        <activity android:name=".RegisterAty" android:launchMode="singleTask"/>
        <!-- 首页-->
        <activity android:name=".MainActivity"  android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--友盟渠道渠道号-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>